{% extends "base.html" %}

{% block content %}
	<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="pageTitle">About Us</h2>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
	
			<div class="about">
	
				<div class="row">
					<div class="col-md-12" id="blacktext">
						<p>At NewSpace360, we bring a practical yet innovative approach to the construction industry. With a
							background in both photography and electrical work, Rodrigo Mozzer understands the intricate
							balance between creativity and technicality.
	
							Having spent five years as an electrician, he recognizes the challenges contractors face in
							visualizing their projects. Our mission is to provide you with a solution that eliminates
							uncertainty and guesswork. By utilizing 3D cameras and aerial drones, we capture every detail of
							your projects, empowering you with a clear and comprehensive view of your work-in-progress.
	
							Our commitment is rooted in simplifying your decision-making process, enhancing client
							communication, and optimizing project management. With NewSpace360, you can rely on a practical
							toolset that turns raw spaces into tangible visions. Join us in redefining how you see and shape
							the future of construction.
	
					</div>
				</div>
	
				<hr>
	
	
				<div class="team-six">
					<div class="row">
						<!--
									<div class="col-md-3 col-sm-6">
										
										<div class="team-member">
											
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
									
										<div class="team-member">
											
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										
										<div class="team-member">
											
										</div>
									</div>-->
						<div class="col-md-3 col-sm-6"></div>
						<div class="team-member">
							<iframe width='853' height='480' src='https://my.matterport.com/show/?m=eNnqtyt4vrX'
								frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Our team ends -->
	
	
		</div>
	
		</div>
	</section>
{% endblock content %}