{% extends "base.html" %}

{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Welcome to your page, {{ end_user.first_name }}! </h2>
                </div>
            </div>
        </div>
	</section>

    <section id="content">
        <div class="container">
            
            <h1 id="blacktext">Which house would you like to view today?</h1>
            <br><br>

            {% for c in content_list %}
                <a href="{% url 'contents' id=c.id %}">{{ c.address }}</a>
            {% endfor %}
            <br><br>


        </div>
    </section>

{% endblock content %}