{% extends "base.html" %}

{% block content %}
  {% load static %}
	<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static 'img/slides/1.png' %}" alt="" />
                <div class="flex-caption">
                    <h3>Client-Centric Construction</h3> 
					<p>Elevate your client relationships by incorporating our immersive 3D tours, ensuring they remain engaged and excited throughout the construction process.</p>  
                </div>
              </li>
              <li>
                <img src="{% static 'img/slides/2.png' %}" alt="" />
                <div class="flex-caption">
                    
					<p>With the practicality of exposed cables and raw structure, we make your imagination into an interactive 3D reality.</p> 
                </div>
              </li>
              <li>
                <img src="{% static 'img/slides/3.png' %}" alt="" />
                <div class="flex-caption">
                    <h3>From Concept to Creation</h3> 
					<p>Leverage our technology to bridge the gap between your architectural plans and the actual construction, providing an interactive experience for both you and your clients.</p>  
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
		<div class="col-md-4">
		<img src="{% static 'img/people.png' %}" alt="" width="100%"/>
		</div>
			<div id="blacktext" class="col-md-8">
				<div><h1 id="blacktext">Revolutionize Construction Communication with 3D Tours.</h1><span class="clear spacer_responsive_hide_mobile " style="height:13px;display:block;"></span><p>Present your projects in unprecedented detail. Showcase your work-in-progress like never before. Our immersive 3D virtual tours enhance client understanding, streamline project management, and elevate your portfolio. From blueprints to reality, redefine how you communicate and collaborate in construction.<br> Using 3D cameras and drones to capture beautiful and detailed imagery, we are sure to add value to your projects.</p>
				</div>
			</div>
		</div>
		
	</div>
	</section>
	
	
</div>


{% endblock content %}